*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* CABEÇALHO */

header{
    padding: 20px 0;
    margin: 45px 30px;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.entre{
    list-style: none;
}

.entre:hover{
    cursor: pointer;
}

nav a{
    color:hsl(321, 100%, 78%) ;
    text-decoration: none;
    border: 2px solid hsl(321, 100%, 78%);
    padding: 8px 26px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
}

/* PRIMEIRO CONJUNTO */

.primeiro-conjunto{
    display: flex;
    justify-content: center;
}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    color: hsl(192, 100%, 9%);
    font-size: 38px;
    margin: 20px;
    text-align: center;
}

.subtitulo{
    color: hsl(192, 100%, 9%);
    font-size: 15px;
    width: 41%;
    text-align: center;
    margin: 24px auto;
    line-height: 1.5;
}

.inscreva{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    border: none;
    background:  hsl(321, 100%, 78%);
    border-radius: 50px;
    margin: 15px auto;
    padding: 13px;
    color: white;
    box-shadow: 0px 6px 13px rgba(1, 1, 1, 0.479);
}

.inscreva:hover{
    cursor: pointer;
}

.imagem-1{
    width: 84%;
    margin: 34px 0;
}

/* SEGUNDO CONJUNTO */

.segundo-conjunto{
    display: flex;
    justify-content: center;
    gap: 23%;
    margin: 47px 0;
}

.segundo-conjunto h2{
    font-size: 67px;
    margin: 10px;
    color: hsl(192, 100%, 9%);
}

.segundo-conjunto p{
    text-align: center;
    opacity: 0.7;
}

.segundo-conjunto img{
    width: 16%;
    margin: 0 15px;
}

/* TERCEIRO E QUINTO CONJUNTO  */

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.decoracao{
    display: block;
    width: 100%;
    object-fit: cover;
}

.cartao1,
.cartao3{
    background: hsl(207, 100%, 98%);
}

.cartao {
    display: flex;
    padding: 20px;
}

.cartao2{
    display: flex;
    padding: 20px;
}

.conteiner{
    margin: 0 auto;
    max-width: 1270px;
    justify-content: space-between;
}

.grid{
    
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.cartao img{
    width: 33%;
    float: right;
}

.cartao2 img{
    width: 33%;
    float: right;
}

.conteudo-1{
    padding: 100px;
}

.conteudo-1 h3{
    color:hsl(192, 100%, 9%) ;
    font-size: 38px;
    margin: 23px 0;
}

.conteudo-1 p{
    color:hsl(192, 100%, 9%) ;
    width: 79%;
    font-size: 15px;
    line-height: 1.4;
}

/* QUARTO CONJUNTO */

.quarto-conjunto{
    display: flex;
    justify-content: center;
    margin: 90px 0;
    padding: 71px 0;
}

.conteudo-2{
  padding: 100px;
}

.conteudo-2 h3{
    color:hsl(192, 100%, 9%) ;
    font-size: 38px;
    margin: 23px 0;
}

.conteudo-2 p{
    color:hsl(192, 100%, 9%) ;
    width: 77%;
    font-size: 14px;
    line-height: 1.4;
}


/* QUINTO CONJUNTO */



/* SEXTO CONJUNTO */

.corpo{
    margin: 61px 0;
}

.titulo-2{
    color: hsl(192, 100%, 9%);
    font-size: 38px;
    margin: 25px;
    text-align: center;
}

.inscreva-2{
    width: 18%;
    text-align: center;
    border: none;
    background:  hsl(321, 100%, 78%);
    border-radius: 50px;
    margin: 25px auto;
    padding: 17px;
    color: white;
    box-shadow: 0px 6px 13px rgba(1, 1, 1, 0.479);
}

.inscreva-2:hover{
    cursor: pointer;
}

/* RODA-PÉ */

footer{
    
}

.onda-pe{
    width: 100%;
    
}

.balao{
    background:hsl(192, 100%, 9%);
    margin: -5px 0;
}

.roda-pe{
    height: 402px;
    gap: 30%;
    display: flex;
    margin: auto;
    align-content: center;
    color: white;
    padding-inline: 12%;
}

/* PRIMEIRO GRID */

.grid1 p{
    width: 74%;
    margin: 18px 0;
    line-height: 1.3;
    font-size: 14px;
}

.logo-pe{
    padding-bottom: 20px;
    display: flex;
    gap: 8px;

}

.logo-icon{
    height: 30px;
    transition: ease-in-out 0.7s;
}

.logo-pe:hover{
    cursor: pointer;
}

.logo-name:hover .logo-icon,
.logo-icon:hover{
    fill: #04763080;
    transform: rotateY(360deg) translate(-3px, -3px);
    transition: ease-in-out 0.7s;
}

.telefone{
    font-size: 13px;
    margin: 15px 0;
}

.telefone img{
    width: 4%;
    margin: 0 10px 0 0;
}

.email{
    font-size: 13px;
    margin: 13px 0;
}

.email img{
    width: 4%;
    margin: 0 10px 0 0;
}

/* SEGUNDO GRID */

.grid2 h1{
    text-transform: uppercase;
    margin: 12px 0 19px 0;
}

.grid2 p{
    width: 75%;
    line-height: 1.3;
    margin: 20px 0;
    font-size: 14px;
}

.email-pe{
    width: 63%;
    padding: 12px;
    border-radius: 8px;
    margin: 10px 28px 0px 0px;
}

.email-pe:hover{
    cursor: pointer;
}

.envie{
    padding: 12px 28px;
    border-radius: 10px;
    border: none;
    background:hsl(322, 100%, 66%) ;
    color: white;
    font-size: 14px;
}

.envie:hover{
    cursor: pointer;
}

/* REDES SOCIAIS */

.social{
    text-align: left;
}

.social a i{
    color: white;
    font-size: 19px;
    position: relative;
    left: 2%;
    top: 36px;
}

.social a:not(:first-child){
    margin-left: 2rem;
}

.social a i:hover{
    color: hsl(210, 63%, 63%);
}

.social a:nth-child(2){
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {

    .inscreva{
        width: 31%;
    }

    .segundo-conjunto{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .caixa1{
        display: flex;
        gap: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caixa1 img{
        width: 26%;
    }

    .roda-pe{
        
        height: 402px;
        gap: 17%;
        padding: 26px 49px;
        display: flex;
        margin: auto;
        align-content: center;
        color: white;
    }
    
}

@media screen and (max-width: 768px) {

   

    .cartao{
        flex-direction: column-reverse;
    }

    .cartao2{
        flex-direction: column;
    }

    .cartao img{
        width: 59%;
    }

    .cartao2 img{
        width: 59%;
    }

    .conteudo-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .conteudo-1 h3{
        padding-top: 40px;
        font-size: 30px;
    }

    .conteudo-1 p {
        width: 100%;
        max-width: 324px;
        padding-bottom: 40px;
    }

    .inscreva-2{
        width: 59%;
    }

    .roda-pe{
        
        height: auto;
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .grid1{
        height: 265px;
    }

    .social a i{
        top: -4px;
        font-size: 14px;
    }

    .email-pe{
        width: 79%;
    }
}

@media screen and (max-width: 484px) {
    
    .subtitulo{
        width: 67%;
    }

    .inscreva{
        width: 56%;
    }

    .caixa{
        flex-direction: column;
        gap: 30px;
    }
    
}